:root {
    --color-background: #000003
    --color-text-title: #FF555555
    --color-text-ligth: #EDEDED
    --color-text-dark: #3D3D3D
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    background-color: var(--color-background);
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
}